<a href="https://www.kaggle.com/code/samithsachidanandan/predicting-loan-payback-tf?scriptVersionId=273511789" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

### Import Libraries

In [57]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.metrics import roc_auc_score

import tensorflow as tf
from tensorflow.keras import layers, models
from sklearn.utils.class_weight import compute_class_weight
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau, ModelCheckpoint

import os

os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'

### Loading the Data

In [30]:
train = pd.read_csv('/kaggle/input/playground-series-s5e11/train.csv')
test = pd.read_csv('/kaggle/input/playground-series-s5e11/test.csv')
submission = pd.read_csv('/kaggle/input/playground-series-s5e11/sample_submission.csv')

In [31]:
train_ids = train['id']
test_ids = test['id']

In [32]:
train = train.drop('id', axis=1)
test = test.drop('id', axis=1)

### Basic Statistics

In [33]:
train.head()

,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

In [34]:
test.head()

,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,28781.05,0.049,626,11461.42,14.73,Female,Single,High School,Employed,Other,D5
1,46626.39,0.093,732,15492.25,12.85,Female,Married,Master's,Employed,Other,C1
2,54954.89,0.367,611,3796.41,13.29,Male,Single,Bachelor's,Employed,Debt consolidation,D1
3,25644.63,0.110,671,6574.30,9.57,Female,Single,Bachelor's,Employed,Debt consolidation,C3
4,25169.64,0.081,688,17696.89,12.80,Female,Married,PhD,Employed,Business,C1

In [35]:
train.shape

(593994, 12)

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 593994 entries, 0 to 593993
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   annual_income         593994 non-null  float64
 1   debt_to_income_ratio  593994 non-null  float64
 2   credit_score          593994 non-null  int64
 3   loan_amount           593994 non-null  float64
 4   interest_rate         593994 non-null  float64
 5   gender                593994 non-null  object
 6   marital_status        593994 non-null  object
 7   education_level       593994 non-null  object
 8   employment_status     593994 non-null  object
 9   loan_purpose          593994 non-null  object
 10  grade_subgrade        593994 non-null  object
 11  loan_paid_back        593994 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 54.4+ MB

In [37]:
train.dtypes

annual_income           float64
debt_to_income_ratio    float64
credit_score              int64
loan_amount             float64
interest_rate           float64
gender                   object
marital_status           object
education_level          object
employment_status        object
loan_purpose             object
grade_subgrade           object
loan_paid_back          float64
dtype: object

In [38]:
print("Target column statistics (loan_paid_back):")

train['loan_paid_back'].describe()

Target column statistics (loan_paid_back):

count    593994.000000
mean          0.798820
std           0.400883
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: loan_paid_back, dtype: float64

In [39]:
train.isnull().sum()

annual_income           0
debt_to_income_ratio    0
credit_score            0
loan_amount             0
interest_rate           0
gender                  0
marital_status          0
education_level         0
employment_status       0
loan_purpose            0
grade_subgrade          0
loan_paid_back          0
dtype: int64

In [40]:
print("Duplicated Rows:",train.duplicated().sum())

Duplicated Rows: 0

In [41]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
annual_income,593994.0,48212.202976,26711.942078,6002.430,27934.400,46557.680,60981.320,393381.740
debt_to_income_ratio,593994.0,0.120696,0.068573,0.011,0.072,0.096,0.156,0.627
credit_score,593994.0,680.916009,55.424956,395.000,646.000,682.000,719.000,849.000
loan_amount,593994.0,15020.297629,6926.530568,500.090,10279.620,15000.220,18858.580,48959.950
interest_rate,593994.0,12.356345,2.008959,3.200,10.990,12.370,13.680,20.990
loan_paid_back,593994.0,0.798820,0.400883,0.000,1.000,1.000,1.000,1.000

### Removing the outliers

In [42]:
def remove_outliers(train_df, test_df=None):
  
    train_df = train_df.copy()
    
   
    credit_upper = train_df['credit_score'].mean() + 3 * train_df['credit_score'].std()
    credit_lower = train_df['credit_score'].mean() - 3 * train_df['credit_score'].std()
    rate_upper = train_df['interest_rate'].mean() + 3 * train_df['interest_rate'].std()
    rate_lower = train_df['interest_rate'].mean() - 3 * train_df['interest_rate'].std()
    
  
    train_df['credit_score'] = np.clip(train_df['credit_score'], credit_lower, credit_upper)
    train_df['interest_rate'] = np.clip(train_df['interest_rate'], rate_lower, rate_upper)
    

    features = ['annual_income', 'debt_to_income_ratio', 'loan_amount']
    limits = {}
    
    for feature in features:
        Q1 = train_df[feature].quantile(0.25)
        Q3 = train_df[feature].quantile(0.75)
        IQR = Q3 - Q1
        limits[feature] = {
            'lower': Q1 - 1.5 * IQR,
            'upper': Q3 + 1.5 * IQR
        }
        train_df[feature] = np.clip(train_df[feature], limits[feature]['lower'], limits[feature]['upper'])
    

    if test_df is not None:
        test_df = test_df.copy()
        test_df['credit_score'] = np.clip(test_df['credit_score'], credit_lower, credit_upper)
        test_df['interest_rate'] = np.clip(test_df['interest_rate'], rate_lower, rate_upper)
        
        for feature in features:
            test_df[feature] = np.clip(test_df[feature], limits[feature]['lower'], limits[feature]['upper'])
        
        return train_df, test_df
    
    return train_df

### Feature Engineering

In [43]:
def engineer_features(df):
   
    df = df.copy()
    

    df['monthly_income'] = df['annual_income'] / 12
    df['monthly_payment'] = (df['loan_amount'] * df['interest_rate'] / 100) / 12
    df['payment_to_income_ratio'] = df['monthly_payment'] / df['monthly_income']
    
    df['total_debt'] = df['loan_amount'] * df['debt_to_income_ratio']
    df['monthly_debt'] = df['total_debt'] / 12
    df['remaining_income'] = df['monthly_income'] - df['monthly_debt']
    
    df['credit_efficiency'] = df['credit_score'] / (df['debt_to_income_ratio'] + 0.001)
    df['loan_to_income_ratio'] = df['loan_amount'] / df['annual_income']
    
  
    df['risk_score'] = (df['debt_to_income_ratio'] * df['interest_rate']) / (df['credit_score'] + 1)
    
 
    df['income_credit_interaction'] = df['annual_income'] * df['credit_score']
    df['debt_credit_interaction'] = df['debt_to_income_ratio'] * df['credit_score']
    
   
    df['credit_score_squared'] = df['credit_score'] ** 2
    df['debt_ratio_squared'] = df['debt_to_income_ratio'] ** 2
    df['income_log'] = np.log1p(df['annual_income'])
    df['loan_amount_log'] = np.log1p(df['loan_amount'])
    

    df['gender_marital'] = df['gender'] + '_' + df['marital_status']
    df['education_employment'] = df['education_level'] + '_' + df['employment_status']
    

    df['high_risk_flag'] = ((df['debt_to_income_ratio'] > 0.4) | 
                            (df['credit_score'] < 650) | 
                            (df['interest_rate'] > 15)).astype(int)
    
    df['excellent_credit_flag'] = (df['credit_score'] >= 750).astype(int)
    df['high_income_flag'] = (df['annual_income'] >= 50000).astype(int)
    df['has_advanced_degree'] = (df['education_level'].isin(["Master's", "PhD"])).astype(int)
    
    return df

In [44]:
train, test = remove_outliers(train, test)

In [45]:
train.columns

Index(['annual_income', 'debt_to_income_ratio', 'credit_score', 'loan_amount',
       'interest_rate', 'gender', 'marital_status', 'education_level',
       'employment_status', 'loan_purpose', 'grade_subgrade',
       'loan_paid_back'],
      dtype='object')

In [46]:
train_df = engineer_features(train)
test_df = engineer_features(test)

### Preprocesing and Scaling Pipeline

In [47]:
y_train = train_df['loan_paid_back']
X_train = train_df.drop('loan_paid_back', axis=1)

X_test = test_df.copy()

#### Dropping the temporary columns

In [48]:
cols_to_drop = [col for col in X_train.columns if col.startswith('_')]
if cols_to_drop:
    X_train = X_train.drop(columns=cols_to_drop)
    X_test = X_test.drop(columns=cols_to_drop)
print(f"Dropped temporary columns: {cols_to_drop}")

Dropped temporary columns: []

In [49]:
numeric_cols = X_train.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_cols = X_train.select_dtypes(include=['object']).columns.tolist()


categorical_cols = train_df.select_dtypes(include=['object']).columns.tolist()



print("*"*180)
print("Numeric:", numeric_cols)

print("*"*180)

print("Categorical:", categorical_cols)
print("*"*180)

************************************************************************************************************************************************************************************
Numeric: ['annual_income', 'debt_to_income_ratio', 'credit_score', 'loan_amount', 'interest_rate', 'monthly_income', 'monthly_payment', 'payment_to_income_ratio', 'total_debt', 'monthly_debt', 'remaining_income', 'credit_efficiency', 'loan_to_income_ratio', 'risk_score', 'income_credit_interaction', 'debt_credit_interaction', 'credit_score_squared', 'debt_ratio_squared', 'income_log', 'loan_amount_log', 'high_risk_flag', 'excellent_credit_flag', 'high_income_flag', 'has_advanced_degree']
************************************************************************************************************************************************************************************
Categorical: ['gender', 'marital_status', 'education_level', 'employment_status', 'loan_purpose', 'grade_subgrade', 'gender_marital', 'education_employment']
************************************************************************************************************************************************************************************

In [50]:
preprocessor = ColumnTransformer([
    ('ohe', OneHotEncoder(drop='first', sparse_output=False, handle_unknown='ignore'), categorical_cols),
    ('scale', MinMaxScaler(), numeric_cols)
])

### Model Training

In [51]:

def build_nn(input_dim):
    model = models.Sequential([
        
        layers.Dense(128, activation='relu', input_shape=(input_dim,)),
        layers.BatchNormalization(),
        layers.Dropout(0.3),
        
        layers.Dense(64, activation='relu'),
        layers.BatchNormalization(),
        layers.Dropout(0.3),
        
        layers.Dense(32, activation='relu'),
        layers.BatchNormalization(),
        layers.Dropout(0.2),
        
        layers.Dense(16, activation='relu'),
        layers.Dropout(0.2),
        
        layers.Dense(1, activation='sigmoid')
    ])
    
    
    optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
    
    model.compile(
        optimizer=optimizer,
        loss='binary_crossentropy',
        metrics=[
            'accuracy',
            tf.keras.metrics.AUC(name='roc_auc'),
            tf.keras.metrics.Precision(name='precision'),
            tf.keras.metrics.Recall(name='recall')
        ]
    )
    return model

In [52]:
kf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
roc_aucs = []

for train_idx, val_idx in kf.split(X_train, y_train):
    X_tr, X_val = X_train.iloc[train_idx], X_train.iloc[val_idx]
    y_tr, y_val = y_train.iloc[train_idx], y_train.iloc[val_idx]
    
    
    X_tr_trans = preprocessor.fit_transform(X_tr)
    X_val_trans = preprocessor.transform(X_val)
  
    model = build_nn(input_dim=X_tr_trans.shape[1])
    model.fit(X_tr_trans, y_tr, epochs=20, batch_size=32, verbose=0)
   
    y_val_pred = model.predict(X_val_trans)
    auc = roc_auc_score(y_val, y_val_pred)
    roc_aucs.append(auc)

print("CV ROC AUC:", np.mean(roc_aucs))

3713/3713 ━━━━━━━━━━━━━━━━━━━━ 5s 1ms/step
3713/3713 ━━━━━━━━━━━━━━━━━━━━ 5s 1ms/step
3713/3713 ━━━━━━━━━━━━━━━━━━━━ 5s 1ms/step
3713/3713 ━━━━━━━━━━━━━━━━━━━━ 5s 1ms/step
3713/3713 ━━━━━━━━━━━━━━━━━━━━ 6s 1ms/step
CV ROC AUC: 0.9119531615155498

In [60]:
X_train_trans = preprocessor.fit_transform(X_train)
X_test_trans = preprocessor.transform(X_test)

In [61]:
class_weights = compute_class_weight(
    class_weight='balanced',
    classes=np.unique(y_train),
    y=y_train
)
class_weight_dict = {0: class_weights[0], 1: class_weights[1]}

In [62]:
model = build_nn(input_dim=X_train_trans.shape[1])

In [63]:
callbacks = [
    EarlyStopping(monitor='val_roc_auc', patience=20, mode='max', restore_best_weights=True),
    ReduceLROnPlateau(monitor='val_roc_auc', factor=0.5, patience=7, mode='max', min_lr=1e-7),
    ModelCheckpoint('best_model.h5', monitor='val_roc_auc', mode='max', save_best_only=True)
]

In [64]:
history = model.fit(
    X_train_trans, y_train,
    validation_split=0.2,  
    epochs=100,
    batch_size=32,
    callbacks=callbacks,
    class_weight=class_weight_dict,
    verbose=1
)

Epoch 1/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 61s 4ms/step - accuracy: 0.8319 - loss: 0.4284 - precision: 0.9309 - recall: 0.8529 - roc_auc: 0.8785 - val_accuracy: 0.8590 - val_loss: 0.3529 - val_precision: 0.9402 - val_recall: 0.8794 - val_roc_auc: 0.9120 - learning_rate: 0.0010
Epoch 2/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 52s 3ms/step - accuracy: 0.8547 - loss: 0.3830 - precision: 0.9378 - recall: 0.8765 - roc_auc: 0.9031 - val_accuracy: 0.8647 - val_loss: 0.3464 - val_precision: 0.9383 - val_recall: 0.8892 - val_roc_auc: 0.9123 - learning_rate: 0.0010
Epoch 3/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 50s 3ms/step - accuracy: 0.8572 - loss: 0.3809 - precision: 0.9375 - recall: 0.8797 - roc_auc: 0.9043 - val_accuracy: 0.8649 - val_loss: 0.3307 - val_precision: 0.9387 - val_recall: 0.8890 - val_roc_auc: 0.9125 - learning_rate: 0.0010
Epoch 4/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 50s 3ms/step - accuracy: 0.8585 - loss: 0.3794 - precision: 0.9374 - recall: 0.8815 - roc_auc: 0.9056 - val_accuracy: 0.8505 - val_loss: 0.3605 - val_precision: 0.9439 - val_recall: 0.8644 - val_roc_auc: 0.9130 - learning_rate: 0.0010
Epoch 5/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 51s 3ms/step - accuracy: 0.8605 - loss: 0.3769 - precision: 0.9382 - recall: 0.8837 - roc_auc: 0.9059 - val_accuracy: 0.8579 - val_loss: 0.3255 - val_precision: 0.9414 - val_recall: 0.8768 - val_roc_auc: 0.9129 - learning_rate: 0.0010
Epoch 6/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 51s 3ms/step - accuracy: 0.8613 - loss: 0.3760 - precision: 0.9384 - recall: 0.8845 - roc_auc: 0.9063 - val_accuracy: 0.8551 - val_loss: 0.3538 - val_precision: 0.9421 - val_recall: 0.8723 - val_roc_auc: 0.9128 - learning_rate: 0.0010
Epoch 7/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 51s 3ms/step - accuracy: 0.8632 - loss: 0.3765 - precision: 0.9371 - recall: 0.8885 - roc_auc: 0.9059 - val_accuracy: 0.8526 - val_loss: 0.3580 - val_precision: 0.9428 - val_recall: 0.8683 - val_roc_auc: 0.9128 - learning_rate: 0.0010
Epoch 8/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 50s 3ms/step - accuracy: 0.8598 - loss: 0.3777 - precision: 0.9379 - recall: 0.8831 - roc_auc: 0.9054 - val_accuracy: 0.8685 - val_loss: 0.3540 - val_precision: 0.9380 - val_recall: 0.8946 - val_roc_auc: 0.9126 - learning_rate: 0.0010
Epoch 9/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 50s 3ms/step - accuracy: 0.8609 - loss: 0.3763 - precision: 0.9384 - recall: 0.8839 - roc_auc: 0.9066 - val_accuracy: 0.8588 - val_loss: 0.3578 - val_precision: 0.9415 - val_recall: 0.8778 - val_roc_auc: 0.9132 - learning_rate: 0.0010
Epoch 10/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 51s 3ms/step - accuracy: 0.8612 - loss: 0.3749 - precision: 0.9385 - recall: 0.8843 - roc_auc: 0.9070 - val_accuracy: 0.8658 - val_loss: 0.3416 - val_precision: 0.9392 - val_recall: 0.8896 - val_roc_auc: 0.9131 - learning_rate: 0.0010
Epoch 11/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 50s 3ms/step - accuracy: 0.8629 - loss: 0.3754 - precision: 0.9370 - recall: 0.8880 - roc_auc: 0.9072 - val_accuracy: 0.8509 - val_loss: 0.3536 - val_precision: 0.9434 - val_recall: 0.8654 - val_roc_auc: 0.9131 - learning_rate: 5.0000e-04
Epoch 12/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 51s 3ms/step - accuracy: 0.8611 - loss: 0.3752 - precision: 0.9380 - recall: 0.8846 - roc_auc: 0.9068 - val_accuracy: 0.8687 - val_loss: 0.3412 - val_precision: 0.9381 - val_recall: 0.8947 - val_roc_auc: 0.9133 - learning_rate: 5.0000e-04
Epoch 13/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 50s 3ms/step - accuracy: 0.8620 - loss: 0.3748 - precision: 0.9377 - recall: 0.8861 - roc_auc: 0.9071 - val_accuracy: 0.8636 - val_loss: 0.3485 - val_precision: 0.9399 - val_recall: 0.8860 - val_roc_auc: 0.9133 - learning_rate: 5.0000e-04
Epoch 14/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 51s 3ms/step - accuracy: 0.8612 - loss: 0.3739 - precision: 0.9384 - recall: 0.8843 - roc_auc: 0.9076 - val_accuracy: 0.8680 - val_loss: 0.3382 - val_precision: 0.9385 - val_recall: 0.8934 - val_roc_auc: 0.9132 - learning_rate: 5.0000e-04
Epoch 15/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 51s 3ms/step - accuracy: 0.8614 - loss: 0.3745 - precision: 0.9383 - recall: 0.8846 - roc_auc: 0.9075 - val_accuracy: 0.8641 - val_loss: 0.3484 - val_precision: 0.9400 - val_recall: 0.8865 - val_roc_auc: 0.9133 - learning_rate: 5.0000e-04
Epoch 16/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 50s 3ms/step - accuracy: 0.8635 - loss: 0.3738 - precision: 0.9374 - recall: 0.8883 - roc_auc: 0.9077 - val_accuracy: 0.8655 - val_loss: 0.3436 - val_precision: 0.9393 - val_recall: 0.8891 - val_roc_auc: 0.9133 - learning_rate: 2.5000e-04
Epoch 17/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 50s 3ms/step - accuracy: 0.8631 - loss: 0.3713 - precision: 0.9390 - recall: 0.8861 - roc_auc: 0.9091 - val_accuracy: 0.8665 - val_loss: 0.3449 - val_precision: 0.9392 - val_recall: 0.8906 - val_roc_auc: 0.9133 - learning_rate: 2.5000e-04
Epoch 18/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 51s 3ms/step - accuracy: 0.8634 - loss: 0.3733 - precision: 0.9387 - recall: 0.8870 - roc_auc: 0.9078 - val_accuracy: 0.8659 - val_loss: 0.3424 - val_precision: 0.9396 - val_recall: 0.8894 - val_roc_auc: 0.9133 - learning_rate: 2.5000e-04
Epoch 19/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 51s 3ms/step - accuracy: 0.8631 - loss: 0.3721 - precision: 0.9388 - recall: 0.8865 - roc_auc: 0.9080 - val_accuracy: 0.8645 - val_loss: 0.3443 - val_precision: 0.9398 - val_recall: 0.8873 - val_roc_auc: 0.9134 - learning_rate: 2.5000e-04
Epoch 20/100
14850/14850 ━━━━━━━━━━━━━━━━━━━━ 51s 3ms/step - accuracy: 0.8612 - loss: 0.3722 - precision: 0.9391 - recall: 0.8836 - roc_auc: 0.9082 - val_accuracy: 0.8680 - val_loss: 0.3396 - val_precision: 0.9385 - val_recall: 0.8934 - val_roc_auc: 0.9134 - learning_rate: 2.5000e-04

In [65]:
y_pred_proba = model.predict(X_test_trans)

7956/7956 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step

### Submission

In [66]:
submission['loan_paid_back'] = y_pred_proba
submission.to_csv('submission.csv', index=False)

print("Submission saved to 'submission.csv'")

print(f"Prediction range: [{y_pred_proba.min():.4f}, {y_pred_proba.max():.4f}]")

Submission saved to 'submission.csv'
Prediction range: [0.0000, 0.9985]